In [1]:
# Importing libraries
import pandas as pd

In [3]:
ufo_table = pd.read_csv("scrubbed.csv", low_memory=False)

In [4]:
ufo_table

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111
1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.581082
2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.916667
3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611
5,10/10/1961 19:00,bristol,tn,us,sphere,300,5 minutes,My father is now 89 my brother 52 the girl wit...,4/27/2007,36.5950000,-82.188889
6,10/10/1965 21:00,penarth (uk/wales),NaN,gb,circle,180,about 3 mins,penarth uk circle 3mins stayed 30ft above m...,2/14/2006,51.434722,-3.180000
7,10/10/1965 23:45,norwalk,ct,us,disk,1200,20 minutes,A bright orange color changing to reddish colo...,10/2/1999,41.1175000,-73.408333
8,10/10/1966 20:00,pell city,al,us,disk,180,3 minutes,Strobe Lighted disk shape object observed clos...,3/19/2009,33.5861111,-86.286111
9,10/10/1966 21:00,live oak,fl,us,disk,120,several minutes,Saucer zaps energy from powerline as my pregna...,5/11/2005,30.2947222,-82.984167
10,10/10/1968 13:00,hawthorne,ca,us,circle,300,5 min.,ROUND &#44 ORANGE &#44 WITH WHAT I WOULD SAY W...,10/31/2003,33.9163889,-118.351667
11,10/10/1968 19:00,brevard,nc,us,fireball,180,3 minutes,silent red /orange mass of energy floated by t...,6/12/2008,35.2333333,-82.734444
12,10/10/1970 16:00,bellmore,ny,us,disk,1800,30 min.,silver disc seen by family and neighbors,5/11/2000,40.6686111,-73.527500
13,10/10/1970 19:00,manchester,ky,us,unknown,180,3 minutes,Slow moving&#44 silent craft accelerated at an...,2/14/2008,37.1536111,-83.761944
14,10/10/1971 21:00,lexington,nc,us,oval,30,30 seconds,green oval shaped light over my local church&#...,2/14/2010,35.8238889,-80.253611
15,10/10/1972 19:00,harlan county,ky,us,circle,1200,20minutes,On october 10&#44 1972 myself&#44my 5yrs.daugh...,9/15/2005,36.8430556,-83.321944
16,10/10/1972 22:30,west bloomfield,mi,us,disk,120,2 minutes,The UFO was so close&#44 my battery in the car...,8/14/2007,42.5377778,-83.233056
17,10/10/1973 19:00,niantic,ct,us,disk,1800,20-30 min,Oh&#44 what a night &#33 Two (2) saucer-shape...,9/24/2003,41.3252778,-72.193611
18,10/10/1973 23:00,bermuda nas,NaN,NaN,light,20,20 sec.,saw fast moving blip on the radar scope thin w...,1/11/2002,32.364167,-64.678611
19,10/10/1974 19:30,hudson,ma,us,other,2700,45 minutes,Not sure of the eact month or year of this sig...,8/10/1999,42.3916667,-71.566667
20,10/10/1974 21:30,cardiff (uk/wales),NaN,gb,disk,1200,20 minutes,back in 1974 I was 19 at the time and lived i...,2/1/2007,51.5,-3.200000
21,10/10/1974 23:00,hudson,ks,us,light,1200,one hour?,The light chased us.,7/25/2004,38.1055556,-98.659722
22,10/10/1975 17:00,north charleston,sc,us,light,360,5-6 minutes,Several Flashing UFO lights over Charleston Na...,2/14/2008,32.8544444,-79.975000
23,10/10/1976 20:30,washougal,wa,us,oval,60,1 minute,Three extremely large lights hanging above nea...,2/7/2014,45.5827778,-122.352222
24,10/10/1976 22:00,stoke mandeville (uk/england),NaN,gb,cigar,3,3 seconds,White object over Buckinghamshire UK.,12/12/2009,51.783333,-0.783333
25,10/10/1977 12:00,san antonio,tx,us,other,30,30 seconds,i was about six or seven and my family and me ...,2/24/2005,29.4238889,-98.493333
26,10/10/1977 22:00,louisville,ky,us,light,30,approx: 30 seconds,HBCCUFO CANADIAN REPORT: Pilot Sighting Of Un...,3/17/2004,38.2541667,-85.759444
27,10/10/1978 02:00,elmont,ny,us,rectangle,300,5min,A memory I will never forget that happened men...,2/1/2007,40.7008333,-73.713333
28,10/10/1979 00:00,poughkeepsie,ny,us,chevron,900,15 minutes,1/4 moon-like&#44 its &#39chord&#39 or flat s...,4/16/2005,41.7002778,-73.921389
29,10/10/1979 22:00,saddle lake (canada),ab,NaN,triangle,270,4.5 or more min.,Lights far above&#44 that glance; then flee f...,1/19/2005,53.970571,-111.689885
...,...,...,...,...,...,...,...,...,...,...,...
80302,9/9/2012 20:00,wilson,nc,us,light,10800,3 hours,Bright orb being chased by a jet along with se...,9/24/2012,35.7211111,-77.915833
80303,9/9/2012 20:10,elmont,ny,us,circle,600,10 minutes,Orange lights seen in Elmont&#44 Long Island&#...,9/24/2012,40.7008333,-73.713333
80304,9/9/2012 20:30,mt. juliet,tn,us,light,120,2 minutes,Bright white light moving slowly across sky wi...,9/24/2012,36.2000000,-86.518611
80305,9/9/2012 20:30,ventura,ca,us,chevron,900,15 minutes,Beautiful bright blue delta shaped aerobatics.,9/24/2012,34.2783333,-119.292222
80306,9/9/2012 20:52,south jordan,ut,us,circle,10,10 seconds,Circular disk with blinking lights scares two ...,9/24/2012,40.5622222,-111.928889
80307,9/9/2012 21:00,elkhart,in,us,oval,600,10 minutes,It was the night of sept 9 between 9 and 10 pm...,9/24/2012,41.6819444,-85.976667
80308,9/9/2012 21:00,new york city (brooklyn),ny,us,light,1290,21:30,Glowing&#44 circular lights visible in the clo...,9/24/2012,40.7141667,-74.006389
80309,9/9/2012 21:00,pawleys island,sc,us,oval,60,less than a minute,One large bright orange flanked by three small...,9/24/2012,33.4330556,-79.121667
80310,9/9/2012 21:00,ventura,ca,us,circle,300,5 minutes,Bright Blue Object seen floating in sky near C...,9/24/2012,34.2783333,-119.292222
80311,9/9/2012 21:55,charleston,sc,us,flash,900,15 minutes,Orb of light flashing reds and blues&#44 stati...,9/24/2012,32.7763889,-79.931111
80312,9/9/2012 23:00,gainesville,ga,us,light,5,5 seconds,Ball of light,9/24/2012,34.2977778,-83.824167
80313,9/9/2013 00:15,norfolk,va,us,unknown,1,split second,Two or three lights shoot across sky over nava...,9/30/2013,36.8466667,-76.285556
80314,9/9/2013 01:50,buffalo (west of; on highway 90 west),ny,us,triangle,180,3 minutes,Massive Flat Black triangle with 3 red lights.,9/30/2013,42.8863889,-78.878611
80315,9/9/2013 03:00,struthers,oh,us,unknown,120,2 minutes,I saw a routaing line of stares that seemed to...,9/9/2013,41.0525000,-80.608056
80316,9/9/2013 09:51,san diego,ca,us,light,4,~4 seconds,2 white lights zig-zag over Qualcomm Stadium (...,9/30/2013,32.7152778,-117.156389
80317,9/9/2013 12:34,cedar park,tx,us,cigar,8,5-8 seconds,Cigar Shaped Object Descending in the Directio...,9/9/2013,30.5050000,-97.820000
80318,9/9/2013 13:10,calmar (canada),ab,ca,unknown,90,45-90 seconds,Fastest dot I have ever seen in the sky&#33,9/9/2013,53.25,-113.783333
80319,9/9/2013 20:15,clifton,nj,NaN,other,3600,~1hr+,Luminous line seen in New Jersey sky.,9/30/2013,40.858433,-74.163755
80320,9/9/2013 20:20,tuscaloosa,al,us,fireball,60,1:00,White/green object much larger than &quot;shoo...,9/30/2013,33.2097222,-87.569167
80321,9/9/2013 20:21,clarksville,tn,us,fireball,3,3 seconds,Green fireball like object shooting across the...,9/30/2013,36.5297222,-87.359444
80322,9/9/2013 21:00,aleksandrow (poland),NaN,NaN,light,15,15 seconds,Two points of light following one another in a...,9/30/2013,50.465843,22.891814
80323,9/9/2013 21:00,gainesville,fl,us,triangle,60,1 minute,Three lights in the sky that didn&#39t look li...,9/30/2013,29.6513889,-82.325000
80324,9/9/2013 21:00,hamstead (hollyridge),nc,NaN,light,120,2 minutes,8 to ten lights bright orange in color large t...,9/30/2013,34.367594,-77.710548
80325,9/9/2013 21:00,milton (canada),on,ca,fireball,180,3 minutes,Massive Bright Orange Fireball in Sky,9/30/2013,46.3,-63.216667
80326,9/9/2013 21:00,woodstock,ga,us,sphere,20,20 seconds,Driving 575 at 21:00 hrs saw a white and green...,9/30/2013,34.1013889,-84.519444
80327,9/9/2013 21:15,nashville,tn,us,light,600,10 minutes,Round from the distance/slowly changing colors...,9/30/2013,36.1658333,-86.784444
80328,9/9/2013 22:00,boise,id,us,circle,1200,20 minutes,Boise&#44 ID&#44 spherical&#44 20 min&#44 10 r...,9/30/2013,43.6136111,-116.202500
80329,9/9/2013 22:00,napa,ca,us,other,1200,hour,Napa UFO&#44,9/30/2013,38.2972222,-122.284444
80330,9/9/2013 22:20,vienna,va,us,circle,5,5 seconds,Saw a five gold lit cicular craft moving fastl...,9/30/2013,38.9011111,-77.265556
80331,9/9/2013 23:00,edmond,ok,us,cigar,1020,17 minutes,2 witnesses 2 miles apart&#44 Red &amp; White...,9/30/2013,35.6527778,-97.477778

In [5]:
ufo_table.columns

Index(['datetime', 'city', 'state', 'country', 'shape', 'duration (seconds)',
       'duration (hours/min)', 'comments', 'date posted', 'latitude',
       'longitude '],
      dtype='object')

In [6]:
ufo_table.rename(columns={"duration (hours/min)": "duration_hours_min", "date posted":"date_posted", "duration (seconds)":"duration_seconds", "longitude ":"longitude"})

,datetime,city,state,country,shape,duration_seconds,duration_hours_min,comments,date_posted,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111
1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.581082
2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.916667
3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611
5,10/10/1961 19:00,bristol,tn,us,sphere,300,5 minutes,My father is now 89 my brother 52 the girl wit...,4/27/2007,36.5950000,-82.188889
6,10/10/1965 21:00,penarth (uk/wales),NaN,gb,circle,180,about 3 mins,penarth uk circle 3mins stayed 30ft above m...,2/14/2006,51.434722,-3.180000
7,10/10/1965 23:45,norwalk,ct,us,disk,1200,20 minutes,A bright orange color changing to reddish colo...,10/2/1999,41.1175000,-73.408333
8,10/10/1966 20:00,pell city,al,us,disk,180,3 minutes,Strobe Lighted disk shape object observed clos...,3/19/2009,33.5861111,-86.286111
9,10/10/1966 21:00,live oak,fl,us,disk,120,several minutes,Saucer zaps energy from powerline as my pregna...,5/11/2005,30.2947222,-82.984167
10,10/10/1968 13:00,hawthorne,ca,us,circle,300,5 min.,ROUND &#44 ORANGE &#44 WITH WHAT I WOULD SAY W...,10/31/2003,33.9163889,-118.351667
11,10/10/1968 19:00,brevard,nc,us,fireball,180,3 minutes,silent red /orange mass of energy floated by t...,6/12/2008,35.2333333,-82.734444
12,10/10/1970 16:00,bellmore,ny,us,disk,1800,30 min.,silver disc seen by family and neighbors,5/11/2000,40.6686111,-73.527500
13,10/10/1970 19:00,manchester,ky,us,unknown,180,3 minutes,Slow moving&#44 silent craft accelerated at an...,2/14/2008,37.1536111,-83.761944
14,10/10/1971 21:00,lexington,nc,us,oval,30,30 seconds,green oval shaped light over my local church&#...,2/14/2010,35.8238889,-80.253611
15,10/10/1972 19:00,harlan county,ky,us,circle,1200,20minutes,On october 10&#44 1972 myself&#44my 5yrs.daugh...,9/15/2005,36.8430556,-83.321944
16,10/10/1972 22:30,west bloomfield,mi,us,disk,120,2 minutes,The UFO was so close&#44 my battery in the car...,8/14/2007,42.5377778,-83.233056
17,10/10/1973 19:00,niantic,ct,us,disk,1800,20-30 min,Oh&#44 what a night &#33 Two (2) saucer-shape...,9/24/2003,41.3252778,-72.193611
18,10/10/1973 23:00,bermuda nas,NaN,NaN,light,20,20 sec.,saw fast moving blip on the radar scope thin w...,1/11/2002,32.364167,-64.678611
19,10/10/1974 19:30,hudson,ma,us,other,2700,45 minutes,Not sure of the eact month or year of this sig...,8/10/1999,42.3916667,-71.566667
20,10/10/1974 21:30,cardiff (uk/wales),NaN,gb,disk,1200,20 minutes,back in 1974 I was 19 at the time and lived i...,2/1/2007,51.5,-3.200000
21,10/10/1974 23:00,hudson,ks,us,light,1200,one hour?,The light chased us.,7/25/2004,38.1055556,-98.659722
22,10/10/1975 17:00,north charleston,sc,us,light,360,5-6 minutes,Several Flashing UFO lights over Charleston Na...,2/14/2008,32.8544444,-79.975000
23,10/10/1976 20:30,washougal,wa,us,oval,60,1 minute,Three extremely large lights hanging above nea...,2/7/2014,45.5827778,-122.352222
24,10/10/1976 22:00,stoke mandeville (uk/england),NaN,gb,cigar,3,3 seconds,White object over Buckinghamshire UK.,12/12/2009,51.783333,-0.783333
25,10/10/1977 12:00,san antonio,tx,us,other,30,30 seconds,i was about six or seven and my family and me ...,2/24/2005,29.4238889,-98.493333
26,10/10/1977 22:00,louisville,ky,us,light,30,approx: 30 seconds,HBCCUFO CANADIAN REPORT: Pilot Sighting Of Un...,3/17/2004,38.2541667,-85.759444
27,10/10/1978 02:00,elmont,ny,us,rectangle,300,5min,A memory I will never forget that happened men...,2/1/2007,40.7008333,-73.713333
28,10/10/1979 00:00,poughkeepsie,ny,us,chevron,900,15 minutes,1/4 moon-like&#44 its &#39chord&#39 or flat s...,4/16/2005,41.7002778,-73.921389
29,10/10/1979 22:00,saddle lake (canada),ab,NaN,triangle,270,4.5 or more min.,Lights far above&#44 that glance; then flee f...,1/19/2005,53.970571,-111.689885
...,...,...,...,...,...,...,...,...,...,...,...
80302,9/9/2012 20:00,wilson,nc,us,light,10800,3 hours,Bright orb being chased by a jet along with se...,9/24/2012,35.7211111,-77.915833
80303,9/9/2012 20:10,elmont,ny,us,circle,600,10 minutes,Orange lights seen in Elmont&#44 Long Island&#...,9/24/2012,40.7008333,-73.713333
80304,9/9/2012 20:30,mt. juliet,tn,us,light,120,2 minutes,Bright white light moving slowly across sky wi...,9/24/2012,36.2000000,-86.518611
80305,9/9/2012 20:30,ventura,ca,us,chevron,900,15 minutes,Beautiful bright blue delta shaped aerobatics.,9/24/2012,34.2783333,-119.292222
80306,9/9/2012 20:52,south jordan,ut,us,circle,10,10 seconds,Circular disk with blinking lights scares two ...,9/24/2012,40.5622222,-111.928889
80307,9/9/2012 21:00,elkhart,in,us,oval,600,10 minutes,It was the night of sept 9 between 9 and 10 pm...,9/24/2012,41.6819444,-85.976667
80308,9/9/2012 21:00,new york city (brooklyn),ny,us,light,1290,21:30,Glowing&#44 circular lights visible in the clo...,9/24/2012,40.7141667,-74.006389
80309,9/9/2012 21:00,pawleys island,sc,us,oval,60,less than a minute,One large bright orange flanked by three small...,9/24/2012,33.4330556,-79.121667
80310,9/9/2012 21:00,ventura,ca,us,circle,300,5 minutes,Bright Blue Object seen floating in sky near C...,9/24/2012,34.2783333,-119.292222
80311,9/9/2012 21:55,charleston,sc,us,flash,900,15 minutes,Orb of light flashing reds and blues&#44 stati...,9/24/2012,32.7763889,-79.931111
80312,9/9/2012 23:00,gainesville,ga,us,light,5,5 seconds,Ball of light,9/24/2012,34.2977778,-83.824167
80313,9/9/2013 00:15,norfolk,va,us,unknown,1,split second,Two or three lights shoot across sky over nava...,9/30/2013,36.8466667,-76.285556
80314,9/9/2013 01:50,buffalo (west of; on highway 90 west),ny,us,triangle,180,3 minutes,Massive Flat Black triangle with 3 red lights.,9/30/2013,42.8863889,-78.878611
80315,9/9/2013 03:00,struthers,oh,us,unknown,120,2 minutes,I saw a routaing line of stares that seemed to...,9/9/2013,41.0525000,-80.608056
80316,9/9/2013 09:51,san diego,ca,us,light,4,~4 seconds,2 white lights zig-zag over Qualcomm Stadium (...,9/30/2013,32.7152778,-117.156389
80317,9/9/2013 12:34,cedar park,tx,us,cigar,8,5-8 seconds,Cigar Shaped Object Descending in the Directio...,9/9/2013,30.5050000,-97.820000
80318,9/9/2013 13:10,calmar (canada),ab,ca,unknown,90,45-90 seconds,Fastest dot I have ever seen in the sky&#33,9/9/2013,53.25,-113.783333
80319,9/9/2013 20:15,clifton,nj,NaN,other,3600,~1hr+,Luminous line seen in New Jersey sky.,9/30/2013,40.858433,-74.163755
80320,9/9/2013 20:20,tuscaloosa,al,us,fireball,60,1:00,White/green object much larger than &quot;shoo...,9/30/2013,33.2097222,-87.569167
80321,9/9/2013 20:21,clarksville,tn,us,fireball,3,3 seconds,Green fireball like object shooting across the...,9/30/2013,36.5297222,-87.359444
80322,9/9/2013 21:00,aleksandrow (poland),NaN,NaN,light,15,15 seconds,Two points of light following one another in a...,9/30/2013,50.465843,22.891814
80323,9/9/2013 21:00,gainesville,fl,us,triangle,60,1 minute,Three lights in the sky that didn&#39t look li...,9/30/2013,29.6513889,-82.325000
80324,9/9/2013 21:00,hamstead (hollyridge),nc,NaN,light,120,2 minutes,8 to ten lights bright orange in color large t...,9/30/2013,34.367594,-77.710548
80325,9/9/2013 21:00,milton (canada),on,ca,fireball,180,3 minutes,Massive Bright Orange Fireball in Sky,9/30/2013,46.3,-63.216667
80326,9/9/2013 21:00,woodstock,ga,us,sphere,20,20 seconds,Driving 575 at 21:00 hrs saw a white and green...,9/30/2013,34.1013889,-84.519444
80327,9/9/2013 21:15,nashville,tn,us,light,600,10 minutes,Round from the distance/slowly changing colors...,9/30/2013,36.1658333,-86.784444
80328,9/9/2013 22:00,boise,id,us,circle,1200,20 minutes,Boise&#44 ID&#44 spherical&#44 20 min&#44 10 r...,9/30/2013,43.6136111,-116.202500
80329,9/9/2013 22:00,napa,ca,us,other,1200,hour,Napa UFO&#44,9/30/2013,38.2972222,-122.284444
80330,9/9/2013 22:20,vienna,va,us,circle,5,5 seconds,Saw a five gold lit cicular craft moving fastl...,9/30/2013,38.9011111,-77.265556
80331,9/9/2013 23:00,edmond,ok,us,cigar,1020,17 minutes,2 witnesses 2 miles apart&#44 Red &amp; White...,9/30/2013,35.6527778,-97.477778

In [7]:
ufo_table

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111
1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.581082
2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.916667
3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611
5,10/10/1961 19:00,bristol,tn,us,sphere,300,5 minutes,My father is now 89 my brother 52 the girl wit...,4/27/2007,36.5950000,-82.188889
6,10/10/1965 21:00,penarth (uk/wales),NaN,gb,circle,180,about 3 mins,penarth uk circle 3mins stayed 30ft above m...,2/14/2006,51.434722,-3.180000
7,10/10/1965 23:45,norwalk,ct,us,disk,1200,20 minutes,A bright orange color changing to reddish colo...,10/2/1999,41.1175000,-73.408333
8,10/10/1966 20:00,pell city,al,us,disk,180,3 minutes,Strobe Lighted disk shape object observed clos...,3/19/2009,33.5861111,-86.286111
9,10/10/1966 21:00,live oak,fl,us,disk,120,several minutes,Saucer zaps energy from powerline as my pregna...,5/11/2005,30.2947222,-82.984167
10,10/10/1968 13:00,hawthorne,ca,us,circle,300,5 min.,ROUND &#44 ORANGE &#44 WITH WHAT I WOULD SAY W...,10/31/2003,33.9163889,-118.351667
11,10/10/1968 19:00,brevard,nc,us,fireball,180,3 minutes,silent red /orange mass of energy floated by t...,6/12/2008,35.2333333,-82.734444
12,10/10/1970 16:00,bellmore,ny,us,disk,1800,30 min.,silver disc seen by family and neighbors,5/11/2000,40.6686111,-73.527500
13,10/10/1970 19:00,manchester,ky,us,unknown,180,3 minutes,Slow moving&#44 silent craft accelerated at an...,2/14/2008,37.1536111,-83.761944
14,10/10/1971 21:00,lexington,nc,us,oval,30,30 seconds,green oval shaped light over my local church&#...,2/14/2010,35.8238889,-80.253611
15,10/10/1972 19:00,harlan county,ky,us,circle,1200,20minutes,On october 10&#44 1972 myself&#44my 5yrs.daugh...,9/15/2005,36.8430556,-83.321944
16,10/10/1972 22:30,west bloomfield,mi,us,disk,120,2 minutes,The UFO was so close&#44 my battery in the car...,8/14/2007,42.5377778,-83.233056
17,10/10/1973 19:00,niantic,ct,us,disk,1800,20-30 min,Oh&#44 what a night &#33 Two (2) saucer-shape...,9/24/2003,41.3252778,-72.193611
18,10/10/1973 23:00,bermuda nas,NaN,NaN,light,20,20 sec.,saw fast moving blip on the radar scope thin w...,1/11/2002,32.364167,-64.678611
19,10/10/1974 19:30,hudson,ma,us,other,2700,45 minutes,Not sure of the eact month or year of this sig...,8/10/1999,42.3916667,-71.566667
20,10/10/1974 21:30,cardiff (uk/wales),NaN,gb,disk,1200,20 minutes,back in 1974 I was 19 at the time and lived i...,2/1/2007,51.5,-3.200000
21,10/10/1974 23:00,hudson,ks,us,light,1200,one hour?,The light chased us.,7/25/2004,38.1055556,-98.659722
22,10/10/1975 17:00,north charleston,sc,us,light,360,5-6 minutes,Several Flashing UFO lights over Charleston Na...,2/14/2008,32.8544444,-79.975000
23,10/10/1976 20:30,washougal,wa,us,oval,60,1 minute,Three extremely large lights hanging above nea...,2/7/2014,45.5827778,-122.352222
24,10/10/1976 22:00,stoke mandeville (uk/england),NaN,gb,cigar,3,3 seconds,White object over Buckinghamshire UK.,12/12/2009,51.783333,-0.783333
25,10/10/1977 12:00,san antonio,tx,us,other,30,30 seconds,i was about six or seven and my family and me ...,2/24/2005,29.4238889,-98.493333
26,10/10/1977 22:00,louisville,ky,us,light,30,approx: 30 seconds,HBCCUFO CANADIAN REPORT: Pilot Sighting Of Un...,3/17/2004,38.2541667,-85.759444
27,10/10/1978 02:00,elmont,ny,us,rectangle,300,5min,A memory I will never forget that happened men...,2/1/2007,40.7008333,-73.713333
28,10/10/1979 00:00,poughkeepsie,ny,us,chevron,900,15 minutes,1/4 moon-like&#44 its &#39chord&#39 or flat s...,4/16/2005,41.7002778,-73.921389
29,10/10/1979 22:00,saddle lake (canada),ab,NaN,triangle,270,4.5 or more min.,Lights far above&#44 that glance; then flee f...,1/19/2005,53.970571,-111.689885
...,...,...,...,...,...,...,...,...,...,...,...
80302,9/9/2012 20:00,wilson,nc,us,light,10800,3 hours,Bright orb being chased by a jet along with se...,9/24/2012,35.7211111,-77.915833
80303,9/9/2012 20:10,elmont,ny,us,circle,600,10 minutes,Orange lights seen in Elmont&#44 Long Island&#...,9/24/2012,40.7008333,-73.713333
80304,9/9/2012 20:30,mt. juliet,tn,us,light,120,2 minutes,Bright white light moving slowly across sky wi...,9/24/2012,36.2000000,-86.518611
80305,9/9/2012 20:30,ventura,ca,us,chevron,900,15 minutes,Beautiful bright blue delta shaped aerobatics.,9/24/2012,34.2783333,-119.292222
80306,9/9/2012 20:52,south jordan,ut,us,circle,10,10 seconds,Circular disk with blinking lights scares two ...,9/24/2012,40.5622222,-111.928889
80307,9/9/2012 21:00,elkhart,in,us,oval,600,10 minutes,It was the night of sept 9 between 9 and 10 pm...,9/24/2012,41.6819444,-85.976667
80308,9/9/2012 21:00,new york city (brooklyn),ny,us,light,1290,21:30,Glowing&#44 circular lights visible in the clo...,9/24/2012,40.7141667,-74.006389
80309,9/9/2012 21:00,pawleys island,sc,us,oval,60,less than a minute,One large bright orange flanked by three small...,9/24/2012,33.4330556,-79.121667
80310,9/9/2012 21:00,ventura,ca,us,circle,300,5 minutes,Bright Blue Object seen floating in sky near C...,9/24/2012,34.2783333,-119.292222
80311,9/9/2012 21:55,charleston,sc,us,flash,900,15 minutes,Orb of light flashing reds and blues&#44 stati...,9/24/2012,32.7763889,-79.931111
80312,9/9/2012 23:00,gainesville,ga,us,light,5,5 seconds,Ball of light,9/24/2012,34.2977778,-83.824167
80313,9/9/2013 00:15,norfolk,va,us,unknown,1,split second,Two or three lights shoot across sky over nava...,9/30/2013,36.8466667,-76.285556
80314,9/9/2013 01:50,buffalo (west of; on highway 90 west),ny,us,triangle,180,3 minutes,Massive Flat Black triangle with 3 red lights.,9/30/2013,42.8863889,-78.878611
80315,9/9/2013 03:00,struthers,oh,us,unknown,120,2 minutes,I saw a routaing line of stares that seemed to...,9/9/2013,41.0525000,-80.608056
80316,9/9/2013 09:51,san diego,ca,us,light,4,~4 seconds,2 white lights zig-zag over Qualcomm Stadium (...,9/30/2013,32.7152778,-117.156389
80317,9/9/2013 12:34,cedar park,tx,us,cigar,8,5-8 seconds,Cigar Shaped Object Descending in the Directio...,9/9/2013,30.5050000,-97.820000
80318,9/9/2013 13:10,calmar (canada),ab,ca,unknown,90,45-90 seconds,Fastest dot I have ever seen in the sky&#33,9/9/2013,53.25,-113.783333
80319,9/9/2013 20:15,clifton,nj,NaN,other,3600,~1hr+,Luminous line seen in New Jersey sky.,9/30/2013,40.858433,-74.163755
80320,9/9/2013 20:20,tuscaloosa,al,us,fireball,60,1:00,White/green object much larger than &quot;shoo...,9/30/2013,33.2097222,-87.569167
80321,9/9/2013 20:21,clarksville,tn,us,fireball,3,3 seconds,Green fireball like object shooting across the...,9/30/2013,36.5297222,-87.359444
80322,9/9/2013 21:00,aleksandrow (poland),NaN,NaN,light,15,15 seconds,Two points of light following one another in a...,9/30/2013,50.465843,22.891814
80323,9/9/2013 21:00,gainesville,fl,us,triangle,60,1 minute,Three lights in the sky that didn&#39t look li...,9/30/2013,29.6513889,-82.325000
80324,9/9/2013 21:00,hamstead (hollyridge),nc,NaN,light,120,2 minutes,8 to ten lights bright orange in color large t...,9/30/2013,34.367594,-77.710548
80325,9/9/2013 21:00,milton (canada),on,ca,fireball,180,3 minutes,Massive Bright Orange Fireball in Sky,9/30/2013,46.3,-63.216667
80326,9/9/2013 21:00,woodstock,ga,us,sphere,20,20 seconds,Driving 575 at 21:00 hrs saw a white and green...,9/30/2013,34.1013889,-84.519444
80327,9/9/2013 21:15,nashville,tn,us,light,600,10 minutes,Round from the distance/slowly changing colors...,9/30/2013,36.1658333,-86.784444
80328,9/9/2013 22:00,boise,id,us,circle,1200,20 minutes,Boise&#44 ID&#44 spherical&#44 20 min&#44 10 r...,9/30/2013,43.6136111,-116.202500
80329,9/9/2013 22:00,napa,ca,us,other,1200,hour,Napa UFO&#44,9/30/2013,38.2972222,-122.284444
80330,9/9/2013 22:20,vienna,va,us,circle,5,5 seconds,Saw a five gold lit cicular craft moving fastl...,9/30/2013,38.9011111,-77.265556
80331,9/9/2013 23:00,edmond,ok,us,cigar,1020,17 minutes,2 witnesses 2 miles apart&#44 Red &amp; White...,9/30/2013,35.6527778,-97.477778

In [8]:
ufo_table = ufo_table.rename(columns={"duration (hours/min)": "duration_hours_min", "date posted":"date_posted", "duration (seconds)":"duration_seconds", "longitude ":"longitude"})

In [9]:
ufo_table.head()

,datetime,city,state,country,shape,duration_seconds,duration_hours_min,comments,date_posted,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111
1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.581082
2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.916667
3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611

In [10]:
ufo_table.dtypes

datetime               object
city                   object
state                  object
country                object
shape                  object
duration_seconds       object
duration_hours_min     object
comments               object
date_posted            object
latitude               object
longitude             float64
dtype: object

In [11]:
ufo_table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80332 entries, 0 to 80331
Data columns (total 11 columns):
datetime              80332 non-null object
city                  80332 non-null object
state                 74535 non-null object
country               70662 non-null object
shape                 78400 non-null object
duration_seconds      80332 non-null object
duration_hours_min    80332 non-null object
comments              80317 non-null object
date_posted           80332 non-null object
latitude              80332 non-null object
longitude             80332 non-null float64
dtypes: float64(1), object(10)
memory usage: 6.7+ MB

In [12]:
ufo_table.head()

,datetime,city,state,country,shape,duration_seconds,duration_hours_min,comments,date_posted,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111
1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.581082
2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.916667
3,10/10/1956 21:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611

In [14]:
ufo_table.describe()

          longitude
count  80332.000000
mean     -86.772885
std       39.697205
min     -176.658056
25%     -112.073333
50%      -87.903611
75%      -78.755000
max      178.441900

## Datetime

In [15]:
# We will change the type of the columns to be able to do operations
ufo_table.astype({"datetime":"datetime64[ns]"})

ValueError: hour must be in 0..23

In [16]:
ufo_table["hour_error"] = ufo_table["datetime"].apply(lambda x: "24:" in x)

In [19]:
ufo_table[ufo_table["hour_error"]==True]

,datetime,city,state,country,shape,duration_seconds,duration_hours_min,comments,date_posted,latitude,longitude,hour_error
388,10/11/2006 24:00,rome,ny,us,oval,120,a min or two,I was walking from the garage to the house&#44...,2/1/2007,43.2127778,-75.456111,True
693,10/1/2001 24:00,chulucanas-piura la vieja (peru),NaN,NaN,other,6312000,2 years,go to: http://www.24horas.com.pe/data/videos/...,3/4/2003,-5.129547,-80.120569,True
962,10/1/2012 24:00,novi,mi,us,triangle,300,5 minutes,V shaped and 8 big and very brite lights&#44mo...,10/30/2012,42.4805556,-83.475556,True
1067,10/12/2003 24:00,salatiga (indonesia),NaN,NaN,disk,22,22 seconds,UFO in Salatiga&#44Indonesia,10/31/2003,-7.33683,110.498817,True
1221,10/12/2013 24:00,cincinnati,oh,us,fireball,300,3-5 minutes,A bright orange light split into four&#44 did ...,10/14/2013,39.1619444,-84.456944,True
1222,10/12/2013 24:00,orangevale (sacramento),ca,us,sphere,60,1 minute,swarm of 8 orange orbs stop and dispers in man...,10/23/2013,38.6786111,-121.224722,True
1317,10/13/2004 24:00,white hall,ar,us,triangle,300,5 minutes,ufo spoted near chemical weapons disposal base .,10/27/2004,34.2738889,-92.090833,True
1359,10/13/2007 24:00,hudson,wi,us,sphere,180,3 minutes,6 Balls of Light Swooping Behind Chem-Clouds 9...,11/28/2007,44.9747222,-92.756667,True
1445,10/13/2012 24:00,kingston,pa,us,light,300,5 minutes,There were orange lights in the sky. The ones ...,10/30/2012,41.2616667,-75.897222,True
1663,10/14/2011 24:00,cibecue (west of),az,us,light,300,5 minutes,Bright yellow light moving slowly thru skies o...,10/25/2011,34.0447222,-110.484722,True
1709,10/15/1952 24:00,edmonton (southwest of) (canada),ab,ca,cylinder,120,approx. 2 min.,Good evening folks---What I am about to discri...,1/17/2004,53.55,-113.500000,True
1754,10/15/1971 24:00,lago vista (near austin),tx,us,formation,1800,30 minutes,went outside &amp; in night sky looking east{e...,2/16/1999,30.4600000,-97.988056,True
1797,10/15/1978 24:00,greenwich,ct,us,circle,900,15 minuts,((HOAX??)) had no control on tv. ash tray kil...,12/12/2009,41.0263889,-73.628889,True
1809,10/15/1980 24:00,boonville,ca,us,sphere,300,5 minutes,Boonville&#44 Ca. 10/1980: just after dark&#...,2/18/2001,39.0091667,-123.365000,True
1824,10/15/1983 24:00,california valley,ca,us,disk,600,5-10 min,Sighting&#44 Hynek class CE_II California vall...,4/18/2012,35.3200000,-120.005833,True
1949,10/15/1997 24:00,naalehu,hi,us,sphere,300,5 min.,It looked like a natural object (for a meteor)...,8/25/2000,19.0638889,-155.585833,True
1997,10/15/1999 24:00,sheffield (uk/england),NaN,gb,triangle,120,only a few minutes,THE UFO,4/1/2001,53.366667,-1.500000,True
1998,10/15/1999 24:00,weed/yreka (near),ca,NaN,fireball,180,< 3 min,Fall 1999 sighting of green and gold fireballs...,1/31/2004,41.858898,-122.553076,True
2065,10/15/2002 24:00,los angeles,ca,us,triangle,30,30 seconds,Laurel canyon TRIANGLE craft &#3902,5/24/2005,34.0522222,-118.242778,True
2146,10/15/2005 24:00,spanaway,wa,us,oval,1800,1:30 min,cloud inhaler,5/15/2006,47.1041667,-122.433333,True
2193,10/15/2008 24:00,hull (uk/england),NaN,gb,disk,420,7 mins,2 orangey red discs similar to other reports f...,3/19/2009,53.716667,-0.333333,True
2298,10/16/1998 24:00,ronan/polson (lake county),mt,NaN,disk,10800,3 hours,Two large craft stationery @ 20000 feet above ...,11/19/1998,47.692526,-114.165781,True
2369,10/16/2005 24:00,ventura,ca,us,oval,2400,40 mins.,It was Saturday evening October 16&#44 2005. I...,11/3/2005,34.2783333,-119.292222,True
2682,10/17/2013 24:00,chilliwack (canada),bc,ca,changing,120,2 minutes,New Information in order to make sense of sigh...,10/23/2013,49.166667,-121.950000,True
3122,10/20/1989 24:00,west palm beach,fl,us,cylinder,180,3 min,After reading the 1966 acount of Jack brown in...,3/31/2008,26.7052778,-80.036667,True
3184,10/20/2002 24:00,albany (maybe new york),ny,us,cigar,2,seconds,I am passing this on from my friend&#44 as I d...,10/28/2002,42.6525000,-73.756667,True
3185,10/20/2002 24:00,raton/pueblo (between&#44 enroute),co,NaN,light,37800,1 1/2hrs,2Bright star-like objects follow me for over 1...,10/28/2002,37.939968,-104.819887,True
3543,10/21/2011 24:00,oakland,ca,us,sphere,2,seconds,well i was just outside looking at regular air...,10/25/2011,37.8044444,-122.269722,True
3596,10/2/1994 24:00,bingen,wa,us,fireball,900,15minutes to an hour,I was car camping with some friends at Bingen ...,4/2/1999,45.7150000,-121.463333,True
3621,10/2/2000 24:00,san antonio,tx,us,light,900,10-15 min,three bright large lights in sky--loose format...,12/2/2000,29.4238889,-98.493333,True
...,...,...,...,...,...,...,...,...,...,...,...,...
75972,9/19/2012 24:00,whitehall,ny,us,unknown,50,1:50 seconds,Strange disappearing planes,5/2/2014,43.5555556,-73.404167,True
76151,9/20/2006 24:00,white city,or,us,cigar,120,1-2 min.,white light near bridge in white city&#44 oregon,10/30/2006,42.4375000,-122.857778,True
76277,9/21/1956 24:00,greenwich,ct,us,light,1290,21:30,Strange movements amoung the stars,8/12/2008,41.0263889,-73.628889,True
76439,9/21/2009 24:00,havant (uk/england),NaN,gb,teardrop,600,10 min,strange teardrop flame craft,12/12/2009,50.85,-0.983333,True
76601,9/2/2002 24:00,chicago,il,us,NaN,600,ten minutes,UFO observation and alien visit,9/2/2005,41.8500000,-87.650000,True
76642,9/2/2005 24:00,lisbon,oh,us,cigar,180,3 minutes,2 UFO&#39s 1plane and a military jet fighter t...,9/15/2005,40.7719444,-80.768333,True
76864,9/22/2001 24:00,mosj&oslash;en (norway),NaN,NaN,NaN,120,2 minutes,Press reports in Norway of UFO sighting in the...,10/12/2001,65.836924,13.193401,True
76949,9/22/2006 24:00,bay city,tx,us,triangle,1500,25 min,UFO SIGHTED AT MATAGORDA TX,2/14/2008,28.9825000,-95.969167,True
77018,9/22/2011 24:00,mulino,or,us,circle,180,3 min,circle/ red/orange differnt color lights spun,10/10/2011,45.2216667,-122.580833,True
77141,9/23/1998 24:00,adrian/jackson (between),mi,NaN,fireball,2,2 seconds,Looked like a meterite except the color and ta...,9/26/1998,41.843386,-84.016742,True
77142,9/23/1998 24:00,deerhorn valley/jamul,ca,NaN,light,5,5seconds+,@905pm I was looking So. at sky for shooting s...,9/26/1998,32.676217,-116.724798,True
77143,9/23/1998 24:00,san fernando valley,ca,NaN,other,3,3 seconds,I was driving north on the Ventura Freeway(101...,9/26/1998,34.182578,-118.439676,True
77336,9/24/1995 24:00,maple valley,wa,us,NaN,45,45 sec.,Woman witnesses a &quot;ball&#44 a bright ligh...,11/2/1999,47.4066667,-122.037500,True
77529,9/25/1998 24:00,marysville,oh,us,disk,10,10sec&#39s.,red/orange in color&#44 hovered for about 5 se...,9/26/1998,40.2363889,-83.367222,True
77749,9/26/1998 24:00,bishop/benton,ca,NaN,fireball,7200,1-2hours,resident of Bishop driving past old road saw l...,9/26/1998,37.720811,-118.590629,True
77807,9/26/2004 24:00,hartland,mi,us,light,3600,1 hour or more,Very bright lighted orbs&#44 NOT stars hovered...,9/29/2004,42.6566667,-83.753056,True
77942,9/26/2013 24:00,franksville,wi,us,fireball,180,3 minutes,My neighbor drove in the yard and I stepped ou...,1/24/2014,42.7600000,-87.913333,True
77959,9/27/1998 24:00,redmond,wa,us,circle,7,6 - 7 seconds,I was looking eastward and saw a bright yellow...,11/1/1998,47.6741667,-122.120278,True
78125,9/28/1973 24:00,strongsville,oh,us,other,600,10 minutes?,A gray metal bell shaped object&#44 half as ta...,4/9/2004,41.3144444,-81.835833,True
78453,9/29/2006 24:00,spirit lake,ia,us,light,5,5 sec,High altitude orange light moving from zenith ...,10/30/2006,43.4222222,-95.101944,True
78480,9/29/2008 24:00,calgary (canada),ab,ca,light,600,10 min,lights over calgary,10/31/2008,51.083333,-114.083333,True
78665,9/30/2003 24:00,texas (east; above),tx,NaN,cylinder,600,10 minutes,Giant Silver Cylinders Falling in East Texas sky.,10/30/2006,31.968599,-99.901813,True
79091,9/4/2002 24:00,brooksville,fl,us,sphere,2100,35min,we got photos,9/6/2002,28.5550000,-82.388056,True
79124,9/4/2004 24:00,kalispell,mt,us,triangle,120,2 minutes,Triangle Craft ((NUFORC Note: NOSS satellite...,9/29/2004,48.1958333,-114.311944,True
79125,9/4/2004 24:00,pyramid lake,nv,NaN,light,10800,03:am-6:am,Sept 4&#44 2004 sighting of a light over Pyram...,9/9/2004,40.012934,-119.557168,True
79136,9/4/2005 24:00,boonville,nc,us,cigar,10800,3+ hours,Unusual activity in our small community&#44 cr...,9/9/2013,36.2325000,-80.708333,True
79137,9/4/2005 24:00,redondo beach,ca,us,triangle,300,5 minutes,Triangulat UFO seen over Redondo Beach&#44 Cal...,12/16/2005,33.8491667,-118.387500,True
79740,9/7/2002 24:00,portsmouth,oh,us,changing,900,15 minutes,A bright red light hoovering in the sky.,9/13/2002,38.7316667,-82.997778,True
79759,9/7/2004 24:00,montrose,co,us,unknown,1200,20 minutes,Stationary object with three pulsating lights ...,9/9/2004,38.4783333,-107.875556,True
79942,9/8/2003 24:00,cedar rapids,ia,us,changing,900,15 min,WE SEEN IT,9/17/2003,42.0083333,-91.643889,True

In [20]:
ufo_table["datetime_corrected"] = ufo_table["datetime"].apply(lambda x: x.replace("24:", "00:"))

In [22]:
ufo_table[ufo_table["hour_error"]==True][["datetime", "datetime_corrected"]]

               datetime datetime_corrected
388    10/11/2006 24:00   10/11/2006 00:00
693     10/1/2001 24:00    10/1/2001 00:00
962     10/1/2012 24:00    10/1/2012 00:00
1067   10/12/2003 24:00   10/12/2003 00:00
1221   10/12/2013 24:00   10/12/2013 00:00
1222   10/12/2013 24:00   10/12/2013 00:00
1317   10/13/2004 24:00   10/13/2004 00:00
1359   10/13/2007 24:00   10/13/2007 00:00
1445   10/13/2012 24:00   10/13/2012 00:00
1663   10/14/2011 24:00   10/14/2011 00:00
1709   10/15/1952 24:00   10/15/1952 00:00
1754   10/15/1971 24:00   10/15/1971 00:00
1797   10/15/1978 24:00   10/15/1978 00:00
1809   10/15/1980 24:00   10/15/1980 00:00
1824   10/15/1983 24:00   10/15/1983 00:00
1949   10/15/1997 24:00   10/15/1997 00:00
1997   10/15/1999 24:00   10/15/1999 00:00
1998   10/15/1999 24:00   10/15/1999 00:00
2065   10/15/2002 24:00   10/15/2002 00:00
2146   10/15/2005 24:00   10/15/2005 00:00
2193   10/15/2008 24:00   10/15/2008 00:00
2298   10/16/1998 24:00   10/16/1998 00:00
2369   10/16/2005 24:00   10/16/2005 00:00
2682   10/17/2013 24:00   10/17/2013 00:00
3122   10/20/1989 24:00   10/20/1989 00:00
3184   10/20/2002 24:00   10/20/2002 00:00
3185   10/20/2002 24:00   10/20/2002 00:00
3543   10/21/2011 24:00   10/21/2011 00:00
3596    10/2/1994 24:00    10/2/1994 00:00
3621    10/2/2000 24:00    10/2/2000 00:00
...                 ...                ...
75972   9/19/2012 24:00    9/19/2012 00:00
76151   9/20/2006 24:00    9/20/2006 00:00
76277   9/21/1956 24:00    9/21/1956 00:00
76439   9/21/2009 24:00    9/21/2009 00:00
76601    9/2/2002 24:00     9/2/2002 00:00
76642    9/2/2005 24:00     9/2/2005 00:00
76864   9/22/2001 24:00    9/22/2001 00:00
76949   9/22/2006 24:00    9/22/2006 00:00
77018   9/22/2011 24:00    9/22/2011 00:00
77141   9/23/1998 24:00    9/23/1998 00:00
77142   9/23/1998 24:00    9/23/1998 00:00
77143   9/23/1998 24:00    9/23/1998 00:00
77336   9/24/1995 24:00    9/24/1995 00:00
77529   9/25/1998 24:00    9/25/1998 00:00
77749   9/26/1998 24:00    9/26/1998 00:00
77807   9/26/2004 24:00    9/26/2004 00:00
77942   9/26/2013 24:00    9/26/2013 00:00
77959   9/27/1998 24:00    9/27/1998 00:00
78125   9/28/1973 24:00    9/28/1973 00:00
78453   9/29/2006 24:00    9/29/2006 00:00
78480   9/29/2008 24:00    9/29/2008 00:00
78665   9/30/2003 24:00    9/30/2003 00:00
79091    9/4/2002 24:00     9/4/2002 00:00
79124    9/4/2004 24:00     9/4/2004 00:00
79125    9/4/2004 24:00     9/4/2004 00:00
79136    9/4/2005 24:00     9/4/2005 00:00
79137    9/4/2005 24:00     9/4/2005 00:00
79740    9/7/2002 24:00     9/7/2002 00:00
79759    9/7/2004 24:00     9/7/2004 00:00
79942    9/8/2003 24:00     9/8/2003 00:00

[694 rows x 2 columns]

In [23]:
ufo_table["datetime"] = ufo_table["datetime"].apply(lambda x: x.replace("24:", "00:"))

In [25]:
ufo_table = ufo_table.astype({"datetime":"datetime64[ns]"})

In [26]:
ufo_table = ufo_table.drop(["hour_error", "datetime_corrected"], axis=1)

In [27]:
ufo_table.head()

,datetime,city,state,country,shape,duration_seconds,duration_hours_min,comments,date_posted,latitude,longitude
0,1949-10-10 20:30:00,san marcos,tx,us,cylinder,2700,45 minutes,This event took place in early fall around 194...,4/27/2004,29.8830556,-97.941111
1,1949-10-10 21:00:00,lackland afb,tx,NaN,light,7200,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.38421,-98.581082
2,1955-10-10 17:00:00,chester (uk/england),NaN,gb,circle,20,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.2,-2.916667
3,1956-10-10 21:00:00,edna,tx,us,circle,20,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.9783333,-96.645833
4,1960-10-10 20:00:00,kaneohe,hi,us,light,900,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.4180556,-157.803611

## Latitude

In [29]:
ufo_table.astype({"latitude":float})

ValueError: could not convert string to float: '33q.200088'

In [30]:
ufo_table[ufo_table["latitude"] == "33q.200088"]

,datetime,city,state,country,shape,duration_seconds,duration_hours_min,comments,date_posted,latitude,longitude
43782,1974-05-22 05:30:00,mescalero indian reservation,nm,NaN,rectangle,180,two hours,Huge rectangular object emmitting intense whit...,4/18/2012,33q.200088,-105.624152

In [31]:
ufo_table.shape

(80332, 11)

In [32]:
ufo_table = ufo_table.drop(43782)

In [33]:
ufo_table.shape

(80331, 11)

In [35]:
ufo_table = ufo_table.astype({"latitude":float})

In [40]:
ufo_table.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 80331 entries, 0 to 80331
Data columns (total 11 columns):
datetime              80331 non-null datetime64[ns]
city                  80331 non-null object
state                 74534 non-null object
country               70662 non-null object
shape                 78399 non-null object
duration_seconds      80331 non-null object
duration_hours_min    80331 non-null object
comments              80316 non-null object
date_posted           80331 non-null object
latitude              80331 non-null float64
longitude             80331 non-null float64
dtypes: datetime64[ns](1), float64(2), object(8)
memory usage: 7.4+ MB

## Duration_seconds

In [42]:
ufo_table.astype({"duration_seconds":float})

ValueError: could not convert string to float: '2`'

In [43]:
ufo_table[ufo_table["duration_seconds"] == "2`"]

,datetime,city,state,country,shape,duration_seconds,duration_hours_min,comments,date_posted,latitude,longitude
27822,2000-02-02 19:33:00,bouse,az,us,NaN,2`,each a few seconds,Driving through Plomosa Pass towards Bouse Loo...,2/16/2000,33.9325,-114.005

In [44]:
ufo_table = ufo_table.drop(27822)

In [45]:
ufo_table.iloc[27822]

datetime                                            2000-02-02 19:49:00
city                                                            seattle
state                                                                wa
country                                                              us
shape                                                             other
duration_seconds                                                    120
duration_hours_min                                         aprox. 2 min
comments              Watched two flying objects headed NW&#44 very ...
date_posted                                                   2/16/2000
latitude                                                        47.6064
longitude                                                      -122.331
Name: 27823, dtype: object

In [46]:
ufo_table.shape

(80330, 11)

In [47]:
ufo_table.astype({"duration_seconds":float})

ValueError: could not convert string to float: '8`'

In [48]:
ufo_table["seconds_error"] = ufo_table["duration_seconds"].apply(lambda x: "`" in x)

In [49]:
ufo_table[ufo_table["seconds_error"]==True][["duration_seconds", "seconds_error"]]

      duration_seconds  seconds_error
35692               8`           True
58591             0.5`           True

In [50]:
ufo_table[ufo_table["seconds_error"]==True]

,datetime,city,state,country,shape,duration_seconds,duration_hours_min,comments,date_posted,latitude,longitude,seconds_error
35692,2005-04-10 22:52:00,santa cruz,ca,us,NaN,8`,eight seconds,2 red lights moving together and apart with a ...,4/16/2005,36.974167,-122.029722,True
58591,2006-07-21 13:00:00,ibague (colombia),NaN,NaN,circle,0.5`,1/2 segundo,Viajaba a 27.000 pies en un avion comercial ve...,10/30/2006,4.440663,-75.244141,True

In [51]:
ufo_table = ufo_table.drop([35692, 58591])

In [52]:
ufo_table.shape

(80328, 12)

In [53]:
ufo_table = ufo_table.astype({"duration_seconds":float})

In [54]:
ufo_table.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 80328 entries, 0 to 80331
Data columns (total 12 columns):
datetime              80328 non-null datetime64[ns]
city                  80328 non-null object
state                 74532 non-null object
country               70660 non-null object
shape                 78398 non-null object
duration_seconds      80328 non-null float64
duration_hours_min    80328 non-null object
comments              80313 non-null object
date_posted           80328 non-null object
latitude              80328 non-null float64
longitude             80328 non-null float64
seconds_error         80328 non-null bool
dtypes: bool(1), datetime64[ns](1), float64(3), object(7)
memory usage: 7.4+ MB

In [55]:
ufo_table = ufo_table.drop("seconds_error", axis=1)

## Date posted

In [56]:
ufo_table = ufo_table.astype({"date_posted": "datetime64[ns]"})

In [57]:
ufo_table.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 80328 entries, 0 to 80331
Data columns (total 11 columns):
datetime              80328 non-null datetime64[ns]
city                  80328 non-null object
state                 74532 non-null object
country               70660 non-null object
shape                 78398 non-null object
duration_seconds      80328 non-null float64
duration_hours_min    80328 non-null object
comments              80313 non-null object
date_posted           80328 non-null datetime64[ns]
latitude              80328 non-null float64
longitude             80328 non-null float64
dtypes: datetime64[ns](2), float64(3), object(6)
memory usage: 7.4+ MB

In [58]:
ufo_table.head()

,datetime,city,state,country,shape,duration_seconds,duration_hours_min,comments,date_posted,latitude,longitude
0,1949-10-10 20:30:00,san marcos,tx,us,cylinder,2700.0,45 minutes,This event took place in early fall around 194...,2004-04-27,29.883056,-97.941111
1,1949-10-10 21:00:00,lackland afb,tx,NaN,light,7200.0,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,2005-12-16,29.384210,-98.581082
2,1955-10-10 17:00:00,chester (uk/england),NaN,gb,circle,20.0,20 seconds,Green/Orange circular disc over Chester&#44 En...,2008-01-21,53.200000,-2.916667
3,1956-10-10 21:00:00,edna,tx,us,circle,20.0,1/2 hour,My older brother and twin sister were leaving ...,2004-01-17,28.978333,-96.645833
4,1960-10-10 20:00:00,kaneohe,hi,us,light,900.0,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,2004-01-22,21.418056,-157.803611

In [59]:
ufo_table.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 80328 entries, 0 to 80331
Data columns (total 11 columns):
datetime              80328 non-null datetime64[ns]
city                  80328 non-null object
state                 74532 non-null object
country               70660 non-null object
shape                 78398 non-null object
duration_seconds      80328 non-null float64
duration_hours_min    80328 non-null object
comments              80313 non-null object
date_posted           80328 non-null datetime64[ns]
latitude              80328 non-null float64
longitude             80328 non-null float64
dtypes: datetime64[ns](2), float64(3), object(6)
memory usage: 7.4+ MB

In [60]:
# Not the right way but the right method
ufo_table = ufo_table.fillna("")

In [61]:
ufo_table.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 80328 entries, 0 to 80331
Data columns (total 11 columns):
datetime              80328 non-null datetime64[ns]
city                  80328 non-null object
state                 80328 non-null object
country               80328 non-null object
shape                 80328 non-null object
duration_seconds      80328 non-null float64
duration_hours_min    80328 non-null object
comments              80328 non-null object
date_posted           80328 non-null datetime64[ns]
latitude              80328 non-null float64
longitude             80328 non-null float64
dtypes: datetime64[ns](2), float64(3), object(6)
memory usage: 7.4+ MB

## More stuff

In [62]:
ufo_table[["duration_seconds"]].describe()

       duration_seconds
count      8.032800e+04
mean       9.017336e+03
std        6.202322e+05
min        1.000000e-03
25%        3.000000e+01
50%        1.800000e+02
75%        6.000000e+02
max        9.783600e+07

In [63]:
lables = ["tipsy","drunk", "intoxicated"]

In [69]:
pd.cut(ufo_table["duration_seconds"], 3, labels=lables)

0        tipsy
1        tipsy
2        tipsy
3        tipsy
4        tipsy
5        tipsy
6        tipsy
7        tipsy
8        tipsy
9        tipsy
10       tipsy
11       tipsy
12       tipsy
13       tipsy
14       tipsy
15       tipsy
16       tipsy
17       tipsy
18       tipsy
19       tipsy
20       tipsy
21       tipsy
22       tipsy
23       tipsy
24       tipsy
25       tipsy
26       tipsy
27       tipsy
28       tipsy
29       tipsy
         ...
80302    tipsy
80303    tipsy
80304    tipsy
80305    tipsy
80306    tipsy
80307    tipsy
80308    tipsy
80309    tipsy
80310    tipsy
80311    tipsy
80312    tipsy
80313    tipsy
80314    tipsy
80315    tipsy
80316    tipsy
80317    tipsy
80318    tipsy
80319    tipsy
80320    tipsy
80321    tipsy
80322    tipsy
80323    tipsy
80324    tipsy
80325    tipsy
80326    tipsy
80327    tipsy
80328    tipsy
80329    tipsy
80330    tipsy
80331    tipsy
Name: duration_seconds, Length: 80328, dtype: category
Categories (3, object): [tipsy < drunk < intoxicated]

In [70]:
ufo_table["duration_seconds_label"] = pd.cut(ufo_table["duration_seconds"], 3, labels=lables)

In [72]:
ufo_table

,datetime,city,state,country,shape,duration_seconds,duration_hours_min,comments,date_posted,latitude,longitude,duration_seconds_label
0,1949-10-10 20:30:00,san marcos,tx,us,cylinder,2700.0,45 minutes,This event took place in early fall around 194...,2004-04-27,29.883056,-97.941111,tipsy
1,1949-10-10 21:00:00,lackland afb,tx,,light,7200.0,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,2005-12-16,29.384210,-98.581082,tipsy
2,1955-10-10 17:00:00,chester (uk/england),,gb,circle,20.0,20 seconds,Green/Orange circular disc over Chester&#44 En...,2008-01-21,53.200000,-2.916667,tipsy
3,1956-10-10 21:00:00,edna,tx,us,circle,20.0,1/2 hour,My older brother and twin sister were leaving ...,2004-01-17,28.978333,-96.645833,tipsy
4,1960-10-10 20:00:00,kaneohe,hi,us,light,900.0,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,2004-01-22,21.418056,-157.803611,tipsy
5,1961-10-10 19:00:00,bristol,tn,us,sphere,300.0,5 minutes,My father is now 89 my brother 52 the girl wit...,2007-04-27,36.595000,-82.188889,tipsy
6,1965-10-10 21:00:00,penarth (uk/wales),,gb,circle,180.0,about 3 mins,penarth uk circle 3mins stayed 30ft above m...,2006-02-14,51.434722,-3.180000,tipsy
7,1965-10-10 23:45:00,norwalk,ct,us,disk,1200.0,20 minutes,A bright orange color changing to reddish colo...,1999-10-02,41.117500,-73.408333,tipsy
8,1966-10-10 20:00:00,pell city,al,us,disk,180.0,3 minutes,Strobe Lighted disk shape object observed clos...,2009-03-19,33.586111,-86.286111,tipsy
9,1966-10-10 21:00:00,live oak,fl,us,disk,120.0,several minutes,Saucer zaps energy from powerline as my pregna...,2005-05-11,30.294722,-82.984167,tipsy
10,1968-10-10 13:00:00,hawthorne,ca,us,circle,300.0,5 min.,ROUND &#44 ORANGE &#44 WITH WHAT I WOULD SAY W...,2003-10-31,33.916389,-118.351667,tipsy
11,1968-10-10 19:00:00,brevard,nc,us,fireball,180.0,3 minutes,silent red /orange mass of energy floated by t...,2008-06-12,35.233333,-82.734444,tipsy
12,1970-10-10 16:00:00,bellmore,ny,us,disk,1800.0,30 min.,silver disc seen by family and neighbors,2000-05-11,40.668611,-73.527500,tipsy
13,1970-10-10 19:00:00,manchester,ky,us,unknown,180.0,3 minutes,Slow moving&#44 silent craft accelerated at an...,2008-02-14,37.153611,-83.761944,tipsy
14,1971-10-10 21:00:00,lexington,nc,us,oval,30.0,30 seconds,green oval shaped light over my local church&#...,2010-02-14,35.823889,-80.253611,tipsy
15,1972-10-10 19:00:00,harlan county,ky,us,circle,1200.0,20minutes,On october 10&#44 1972 myself&#44my 5yrs.daugh...,2005-09-15,36.843056,-83.321944,tipsy
16,1972-10-10 22:30:00,west bloomfield,mi,us,disk,120.0,2 minutes,The UFO was so close&#44 my battery in the car...,2007-08-14,42.537778,-83.233056,tipsy
17,1973-10-10 19:00:00,niantic,ct,us,disk,1800.0,20-30 min,Oh&#44 what a night &#33 Two (2) saucer-shape...,2003-09-24,41.325278,-72.193611,tipsy
18,1973-10-10 23:00:00,bermuda nas,,,light,20.0,20 sec.,saw fast moving blip on the radar scope thin w...,2002-01-11,32.364167,-64.678611,tipsy
19,1974-10-10 19:30:00,hudson,ma,us,other,2700.0,45 minutes,Not sure of the eact month or year of this sig...,1999-08-10,42.391667,-71.566667,tipsy
20,1974-10-10 21:30:00,cardiff (uk/wales),,gb,disk,1200.0,20 minutes,back in 1974 I was 19 at the time and lived i...,2007-02-01,51.500000,-3.200000,tipsy
21,1974-10-10 23:00:00,hudson,ks,us,light,1200.0,one hour?,The light chased us.,2004-07-25,38.105556,-98.659722,tipsy
22,1975-10-10 17:00:00,north charleston,sc,us,light,360.0,5-6 minutes,Several Flashing UFO lights over Charleston Na...,2008-02-14,32.854444,-79.975000,tipsy
23,1976-10-10 20:30:00,washougal,wa,us,oval,60.0,1 minute,Three extremely large lights hanging above nea...,2014-02-07,45.582778,-122.352222,tipsy
24,1976-10-10 22:00:00,stoke mandeville (uk/england),,gb,cigar,3.0,3 seconds,White object over Buckinghamshire UK.,2009-12-12,51.783333,-0.783333,tipsy
25,1977-10-10 12:00:00,san antonio,tx,us,other,30.0,30 seconds,i was about six or seven and my family and me ...,2005-02-24,29.423889,-98.493333,tipsy
26,1977-10-10 22:00:00,louisville,ky,us,light,30.0,approx: 30 seconds,HBCCUFO CANADIAN REPORT: Pilot Sighting Of Un...,2004-03-17,38.254167,-85.759444,tipsy
27,1978-10-10 02:00:00,elmont,ny,us,rectangle,300.0,5min,A memory I will never forget that happened men...,2007-02-01,40.700833,-73.713333,tipsy
28,1979-10-10 00:00:00,poughkeepsie,ny,us,chevron,900.0,15 minutes,1/4 moon-like&#44 its &#39chord&#39 or flat s...,2005-04-16,41.700278,-73.921389,tipsy
29,1979-10-10 22:00:00,saddle lake (canada),ab,,triangle,270.0,4.5 or more min.,Lights far above&#44 that glance; then flee f...,2005-01-19,53.970571,-111.689885,tipsy
...,...,...,...,...,...,...,...,...,...,...,...,...
80302,2012-09-09 20:00:00,wilson,nc,us,light,10800.0,3 hours,Bright orb being chased by a jet along with se...,2012-09-24,35.721111,-77.915833,tipsy
80303,2012-09-09 20:10:00,elmont,ny,us,circle,600.0,10 minutes,Orange lights seen in Elmont&#44 Long Island&#...,2012-09-24,40.700833,-73.713333,tipsy
80304,2012-09-09 20:30:00,mt. juliet,tn,us,light,120.0,2 minutes,Bright white light moving slowly across sky wi...,2012-09-24,36.200000,-86.518611,tipsy
80305,2012-09-09 20:30:00,ventura,ca,us,chevron,900.0,15 minutes,Beautiful bright blue delta shaped aerobatics.,2012-09-24,34.278333,-119.292222,tipsy
80306,2012-09-09 20:52:00,south jordan,ut,us,circle,10.0,10 seconds,Circular disk with blinking lights scares two ...,2012-09-24,40.562222,-111.928889,tipsy
80307,2012-09-09 21:00:00,elkhart,in,us,oval,600.0,10 minutes,It was the night of sept 9 between 9 and 10 pm...,2012-09-24,41.681944,-85.976667,tipsy
80308,2012-09-09 21:00:00,new york city (brooklyn),ny,us,light,1290.0,21:30,Glowing&#44 circular lights visible in the clo...,2012-09-24,40.714167,-74.006389,tipsy
80309,2012-09-09 21:00:00,pawleys island,sc,us,oval,60.0,less than a minute,One large bright orange flanked by three small...,2012-09-24,33.433056,-79.121667,tipsy
80310,2012-09-09 21:00:00,ventura,ca,us,circle,300.0,5 minutes,Bright Blue Object seen floating in sky near C...,2012-09-24,34.278333,-119.292222,tipsy
80311,2012-09-09 21:55:00,charleston,sc,us,flash,900.0,15 minutes,Orb of light flashing reds and blues&#44 stati...,2012-09-24,32.776389,-79.931111,tipsy
80312,2012-09-09 23:00:00,gainesville,ga,us,light,5.0,5 seconds,Ball of light,2012-09-24,34.297778,-83.824167,tipsy
80313,2013-09-09 00:15:00,norfolk,va,us,unknown,1.0,split second,Two or three lights shoot across sky over nava...,2013-09-30,36.846667,-76.285556,tipsy
80314,2013-09-09 01:50:00,buffalo (west of; on highway 90 west),ny,us,triangle,180.0,3 minutes,Massive Flat Black triangle with 3 red lights.,2013-09-30,42.886389,-78.878611,tipsy
80315,2013-09-09 03:00:00,struthers,oh,us,unknown,120.0,2 minutes,I saw a routaing line of stares that seemed to...,2013-09-09,41.052500,-80.608056,tipsy
80316,2013-09-09 09:51:00,san diego,ca,us,light,4.0,~4 seconds,2 white lights zig-zag over Qualcomm Stadium (...,2013-09-30,32.715278,-117.156389,tipsy
80317,2013-09-09 12:34:00,cedar park,tx,us,cigar,8.0,5-8 seconds,Cigar Shaped Object Descending in the Directio...,2013-09-09,30.505000,-97.820000,tipsy
80318,2013-09-09 13:10:00,calmar (canada),ab,ca,unknown,90.0,45-90 seconds,Fastest dot I have ever seen in the sky&#33,2013-09-09,53.250000,-113.783333,tipsy
80319,2013-09-09 20:15:00,clifton,nj,,other,3600.0,~1hr+,Luminous line seen in New Jersey sky.,2013-09-30,40.858433,-74.163755,tipsy
80320,2013-09-09 20:20:00,tuscaloosa,al,us,fireball,60.0,1:00,White/green object much larger than &quot;shoo...,2013-09-30,33.209722,-87.569167,tipsy
80321,2013-09-09 20:21:00,clarksville,tn,us,fireball,3.0,3 seconds,Green fireball like object shooting across the...,2013-09-30,36.529722,-87.359444,tipsy
80322,2013-09-09 21:00:00,aleksandrow (poland),,,light,15.0,15 seconds,Two points of light following one another in a...,2013-09-30,50.465843,22.891814,tipsy
80323,2013-09-09 21:00:00,gainesville,fl,us,triangle,60.0,1 minute,Three lights in the sky that didn&#39t look li...,2013-09-30,29.651389,-82.325000,tipsy
80324,2013-09-09 21:00:00,hamstead (hollyridge),nc,,light,120.0,2 minutes,8 to ten lights bright orange in color large t...,2013-09-30,34.367594,-77.710548,tipsy
80325,2013-09-09 21:00:00,milton (canada),on,ca,fireball,180.0,3 minutes,Massive Bright Orange Fireball in Sky,2013-09-30,46.300000,-63.216667,tipsy
80326,2013-09-09 21:00:00,woodstock,ga,us,sphere,20.0,20 seconds,Driving 575 at 21:00 hrs saw a white and green...,2013-09-30,34.101389,-84.519444,tipsy
80327,2013-09-09 21:15:00,nashville,tn,us,light,600.0,10 minutes,Round from the distance/slowly changing colors...,2013-09-30,36.165833,-86.784444,tipsy
80328,2013-09-09 22:00:00,boise,id,us,circle,1200.0,20 minutes,Boise&#44 ID&#44 spherical&#44 20 min&#44 10 r...,2013-09-30,43.613611,-116.202500,tipsy
80329,2013-09-09 22:00:00,napa,ca,us,other,1200.0,hour,Napa UFO&#44,2013-09-30,38.297222,-122.284444,tipsy
80330,2013-09-09 22:20:00,vienna,va,us,circle,5.0,5 seconds,Saw a five gold lit cicular craft moving fastl...,2013-09-30,38.901111,-77.265556,tipsy
80331,2013-09-09 23:00:00,edmond,ok,us,cigar,1020.0,17 minutes,2 witnesses 2 miles apart&#44 Red &amp; White...,2013-09-30,35.652778,-97.477778,tipsy

In [75]:
ufo_table["duration_seconds_label"].value_counts()

tipsy          80322
intoxicated        3
drunk              3
Name: duration_seconds_label, dtype: int64

In [77]:
pd.cut(ufo_table["duration_seconds"], 3, retbins=True)

(0        (-97835.999, 32612000.001]
 1        (-97835.999, 32612000.001]
 2        (-97835.999, 32612000.001]
 3        (-97835.999, 32612000.001]
 4        (-97835.999, 32612000.001]
 5        (-97835.999, 32612000.001]
 6        (-97835.999, 32612000.001]
 7        (-97835.999, 32612000.001]
 8        (-97835.999, 32612000.001]
 9        (-97835.999, 32612000.001]
 10       (-97835.999, 32612000.001]
 11       (-97835.999, 32612000.001]
 12       (-97835.999, 32612000.001]
 13       (-97835.999, 32612000.001]
 14       (-97835.999, 32612000.001]
 15       (-97835.999, 32612000.001]
 16       (-97835.999, 32612000.001]
 17       (-97835.999, 32612000.001]
 18       (-97835.999, 32612000.001]
 19       (-97835.999, 32612000.001]
 20       (-97835.999, 32612000.001]
 21       (-97835.999, 32612000.001]
 22       (-97835.999, 32612000.001]
 23       (-97835.999, 32612000.001]
 24       (-97835.999, 32612000.001]
 25       (-97835.999, 32612000.001]
 26       (-97835.999, 32612000.001]
 27       (-97835.999, 32612000.001]
 28       (-97835.999, 32612000.001]
 29       (-97835.999, 32612000.001]
                     ...
 80302    (-97835.999, 32612000.001]
 80303    (-97835.999, 32612000.001]
 80304    (-97835.999, 32612000.001]
 80305    (-97835.999, 32612000.001]
 80306    (-97835.999, 32612000.001]
 80307    (-97835.999, 32612000.001]
 80308    (-97835.999, 32612000.001]
 80309    (-97835.999, 32612000.001]
 80310    (-97835.999, 32612000.001]
 80311    (-97835.999, 32612000.001]
 80312    (-97835.999, 32612000.001]
 80313    (-97835.999, 32612000.001]
 80314    (-97835.999, 32612000.001]
 80315    (-97835.999, 32612000.001]
 80316    (-97835.999, 32612000.001]
 80317    (-97835.999, 32612000.001]
 80318    (-97835.999, 32612000.001]
 80319    (-97835.999, 32612000.001]
 80320    (-97835.999, 32612000.001]
 80321    (-97835.999, 32612000.001]
 80322    (-97835.999, 32612000.001]
 80323    (-97835.999, 32612000.001]
 80324    (-97835.999, 32612000.001]
 80325    (-97835.999, 32612000.001]
 80326    (-97835.999, 32612000.001]
 80327    (-97835.999, 32612000.001]
 80328    (-97835.999, 32612000.001]
 80329    (-97835.999, 32612000.001]
 80330    (-97835.999, 32612000.001]
 80331    (-97835.999, 32612000.001]
 Name: duration_seconds, Length: 80328, dtype: category
 Categories (3, interval[float64]): [(-97835.999, 32612000.001] < (32612000.001, 65224000.0] < (65224000.0, 97836000.0]],
 array([-9.7835999e+04,  3.2612000e+07,  6.5224000e+07,  9.7836000e+07]))